@font-face {
    font-family: "lato";
    src: url("fonts/lato.ttf");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 231px;
    padding-right: 240px;
    padding-top: 18px;
}

.search {
    padding-left: 41px;
}

.container {
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;
}

header {
    min-height: 75px;
    background: #222222;

}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
    padding: 0;
    margin-left: 33px;
    padding-top: 12px;
}

.menu-link {}

.coat {
    background-color: #F1E4E6;
    max-width: 1600px;
    max-height: 764px;
}

.brand-p {
    margin-left: 63.42px;
    margin-bottom: 381px;
}



.deals {
    margin-top: 35px;
    display: flex;
    height: 260px;
    width: 1140px;
}


.woman-deal {
    background: url(../img/Component%201.png);
    width: 360px;
    height: 260px;
    padding-top: 105px;
    background-repeat: no-repeat;
}

.men-deal {
    margin-left: 30px;
    background: url(../img/Component%202.png);
    width: 360px;
    height: 260px;
    padding-top: 105px;
    background-repeat: no-repeat;
}

.kids-deal {
    margin-left: 30px;
    background: url(../img/Component%203.png);
    width: 360px;
    height: 260px;
    padding-top: 105px;
    background-repeat: no-repeat;
}

.accs {
    margin-top: 30px;
    background: url(../img/Component%204.png);
    width: 1140px;
    height: 180px;
    padding-top: 65px;
    background-repeat: no-repeat;
}


.main-deal {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-deal-option {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #F16D7F;
}


.feature h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
}

.feature p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9F9F9F;
    margin-top: 6px;
}

.featured-items {
    display: flex;
    margin-top: 48px;
    height: 1395px;
    width: 1140px;
    flex-direction: column;
    align-items: center;

}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.featured-item {
    width: 360px;
    height: 582px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}

.featured-item h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25.35px;
    margin-left: 18px;

}

.featured-item p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 12.65px 0 0 16.46px;
    color: #5D5D5D;
}

.featured-item h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 18px 0 0 18.41px;
    color: #F16D7F;
    ;
}


.button-browse {}

.a-button-browse {

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    margin-top: 18px;

}

.delivery-info {
    margin-top: 191px;
    background: black;
    height: 341px;
    display: flex;

}

.delivery h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 28.07px;
}

.delivery p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
}

.delivery img {

    margin-top: 103px;
    display: flex;


}

.delivery {}





.subscribe {
    background-image: url(../img/sea.png);
    height: 448px;
    width: 1600px;
    display: flex;

}

.subscribe-photo {}

.li-photo {}

.subscribe-photo {
    margin: 97px 0 0 230.29px;
    list-style-type: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;

}

.li-subscribe-photo1 {
    list-style-type: none;

}

.li-subscribe-photo {}



.subscribe-list {
    margin: 150px 230px;

}

.li-subscribe {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    box-sizing: border-box;
    list-style-type: none;
}


input {
    padding: 7px 64px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-radius: 25px;
    align-items: center;
}


footer {
    height: 79px;
    width: 1600px;
    left: 0px;
    top: 3749px;
    border-radius: 0px;
    background-color: black;
    display: flex;
}

.foot-span {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 0 235px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social {
    display: block;
    margin-right: 230px;
    margin-top: 24px;
}

/* ========= @media ========= */

@media (max-width: 768px) {
    
    .coat{
        width: 769px;
        height: 367px;
    }
    
    .brand-p {
        margin-left: 39px;
        margin-bottom: 137.57px;
    }
    
    .deals{
        max-width: 736px;
        }
    .items{
        max-width: 736px;
    }
    .subscribe{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .brand-p {
        margin-left: 56px;
        margin-bottom: 148px;
    }
    
    .main-coat-image{
        display: none;
    }
    .deals{
        max-width: 480px;
        flex-direction: column;
        }
     .items{
       flex-direction: column; 
    }
    .subscribe{
        flex-direction: column;
    }
    
    footer{
        display: flex;
        flex-direction: column;
    }
}

